<div class="search-container">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Enter YouTube URL</mat-label>
    <input matInput [formControl]="urlInput" placeholder="https://www.youtube.com/watch?v=...">
    @if (urlInput.hasError('required')) {
      <mat-error>
        URL is required
      </mat-error>
    }
    @if (urlInput.hasError('pattern') && !urlInput.hasError('required')) {
      <mat-error>
        Please enter a valid YouTube URL
      </mat-error>
    }
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="loadVideo()" [disabled]="urlInput.invalid">
    Load Video
  </button>
</div>
